
.blog-header-logo{
	color: #333333;
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

a.blog-header-logo:hover{
	color: #000;
	text-decoration: none;
}

a.search-btn:link{
	color:white;
}

a.search-btn:visited{
	color: #aaaaaa;
}

pre{
	margin-top: 0;
	margin-bottom: 1rem;
}

.blog-pagination .btn{
	border-radius: 2rem;
}

.blog-footer{
	text-align: center;
}
