body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-image: url("../images/bodybg.png");
}

#cover-page{
	background-image: url("../images/homebg.png");
	background-size: cover;
}

#menu{
	color: white;
	display: flex;
}

.menu-item{
	flex: 50%;
	height: 130px;
	float: left;
	text-align: center;
	padding: 20px;
}

#home{
	display: flex;
	justify-content: space-between;
}

.cover{
	flex: 50%;
}


.cover-text{
	margin: 0;
	margin-left: 200px;
	font-size: 60px;
	color: white;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
}

.cover-button{
	margin-left: 200px;
	margin-top: 50px;
	display: flex;
}

.download-button{
	background-color: #FF6037;
	padding: 15px;
}

.features-button{
	margin-left: 20px;
	background-color: #000099;
	padding: 15px;
}

#cover-image{
	height: 85%;
}

a{
	text-decoration: none;
	color: #F7F5F5;
	padding: 10px;
	font-family: "Times New Roman", Times, serif;
}

#features{
	text-align: center;
	margin: 100px;
}

.features-type{
	display: flex;
	margin-top: 50px;
}

.feature{
	flex: 50%;
	text-align: left;
	margin-left: 100px;
	display: flex;
}

.feature-info{
	margin-left: 20px;
}

.feature-image{
	margin-top: 20px;
}

.header-title{
	color: #1a53ff;
}

.header-subtitle, .feature-description{
	color: #bfbfbf;
}
h2.feature-title{
	margin-bottom: 0;
}
p.feature-description{
	margin-top: 5px;
}
.city-temp-image{
	text-align: center;
}

.screenshot{
	margin-top: 100px;
	display: flex;
}

.screenshot1, .screenshot2, .screenshot3{
	flex: 50%;
}

.header{
	text-align: center;
}

#screenshot1-image,
#screenshot3-image,
#screenshot2-image{
	margin-left: 200px;
}

#cloud-image,
#sun-image,
#rainy-image{
	margin-top: 100px;
}

.screenshot-info-header-description{
	width: 50%;
	font-size: 20px;
	color: #737373;
}

.screenshot-info-header-title{
	font-size: 30px;
}

#sun-image, 
#sun-header,
#sun-desc{
	margin-left: 300px;
}

.header{
	margin-top: 100px;
}

.review-info{
	margin-top: 100px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.review{
	flex: 50%;
}

.review-comment, .review-author{
	margin-left: 100px;
	margin-right: 100px;
}

#download-application{
	margin-top: 100px;
	display: flex;
	background-color: navy;
}

.download-app{
	flex: 50%;
}

.download-app-header{
	margin-top: 100px;
}

.download-app-info{
	margin-left: 100px;
	color: white;
}
#apple-app-store{
	padding: 0;
}

.download-app-description{
	width: 45%;
}

#appdownload-image{
	width: 80%;
	margin-top: 100px;
}

#footer{
	background-color: #141439;
}

.footer-menu{
	display: flex;
	height: 100px;
}

.footer-menu-item{
	flex: 50%;
	float: left;
	text-align: center;
	padding: 20px;
}

#copyright{
	color: white;
	text-align: center;
}

