<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	>
	<head>
		<title> Admin Login </title>
	</head>
	<body>
		<header>
			<h1 align="center"> Admin Login Portal </h1>
		</header>
		<div>
			<form th:action="@{login}" method="Post">
				<table align="center">
				<tr>
					<th> Admin ID </th>
					<td> <input type="text" name ="username" id="username" /> </td>
				</tr>
				<tr>
					<th> Password </th>
					<td> <input type="password" name="password" id="password" /> </td>
				</tr>
				<tr>
					<td> <input type="submit" name="submit" value="login" /> </td> 
				</tr>
			</table>
			</form>
		</div>
	</body>
</html>