<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "person1" class = "com.metacube.training.Person" scope="singleton">
      <property name = "name" value = "Ramjilal"/>
   </bean>
   
   <bean id = "person2" class = "com.metacube.training.Person" scope="prototype">
      <property name = "name" value = "Vaibhav"/>
   </bean>
   
</beans>