<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Employee</title>
    
</head>
<body>
<div class="container">
    <div>
        <h2>All employees</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Email</th>
            </tr>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.emp_code}">Id</td>
                <td th:text="${employee.first_name}">Name</td>
                <td th:text="${employee.dob}">DOB</td>
                <td th:text="${employee.gender}">Gender</td>
                <td th:text="${employee.email_id}">Email</td>
               <td><a th:href="${'employees/profile?id=' + employee.emp_code}">View Profile</a></td>
            </tr>
        </table>
        <p> <a th:href="@{/admin/employees/add}"> Add Employee </a> </p>
    </div>
</div>
</body>
</html>